:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: end;

  span {
    background-color: var(--secondaryColor);
    color: var(--secondaryColorContrast);
    padding: 4px 8px;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

    &.selected {
      cursor: default;
      background-color: var(--tertiaryColor);
      color: var(--tertiaryColorContrast);
      box-shadow: none;
    }
  }
}