:host {
  display: flex;
  flex-direction: column;
  gap: 5px;

  position: fixed;
  bottom: 60px;
  left: 100px;
  right: 100px;
  z-index: 200;

  .notification {
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
    text-align: center;

    &.error {
      background-color: red;
      color: white;
    }

    &.info {
      background-color: darkcyan;
      color: white;
    }

    &.success {
      background-color: limegreen;
      color: black;
    }
  }
}