.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  app-card {
    cursor: pointer;

    .card-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}